<div class="d-flex justify-content-end">
    <form class="w-25 m-2 border rounded p-2" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Thông tin</label>
            <input type="text" name="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>